// ## Colors

// ### Primary

$blue: hsl(246, 80%, 60%);

// (work)
$light-red : hsl(15, 100%, 70%);
// (play)
$soft-blue : hsl(195, 74%, 62%);
// (study)
$light-red : hsl(348, 100%, 68%);
// (exercise)
$lime-green : hsl(145, 58%, 55%);
// (social)
$violet : hsl(264, 64%, 52%);
// (self care)
$soft-orange : hsl(43, 84%, 65%);

// ### Neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  padding: 0 1rem;
  margin: 4rem 0;

  .user-control .user-info{
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 2rem 0;
    border-radius: 10px;

    background-color: $blue;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid white;
    }

    .user-fullname {
      text-align: left;


      span{
        font-size: .75rem;
        color: gray;
      }
      p{
        font-size: 1rem;
        font-weight: 300;
      }
    }


  }

  .user-control .time-selector {

    display: flex;
    background-color: $dark-blue;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: $desaturated-blue;
    border-radius: 0 0 10px 10px;
    .current {
      font-weight: 600;
      color: white;
    }
  }

  .time-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
}


